# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\GCU\Spring_2021\SocialNetworks\Assignments\Project3_PersonalCommunicationNetwork\Project3_Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
